{% extends 'base.html' %}
{% block title %} tour page {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('tour.static', filename = '/all_tours.css') }}" >
{% endblock %}
{% block content %}
 <h1 id="main">Сторінка відпочинку</h1>
 {% for tour in list_tour %}
    <div class="separation"></div>
    <form method="post" >
        <button name = "button" value = "{{tour.id}}" type = "submit">{{tour.title}}</button>
        <h3>дата: {{tour.date}}</h3>
        <h3>Країна: {{tour.country}}</h3>
    </form>
 {% endfor %} 
 <div class="separation"></div>
{% endblock %}