{% extends 'base.html' %}
{% block title %} tour page {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('tour.static', filename = '/tour.css') }}" >
{% endblock %}
{% block content %}
 <h1>Сторінка відпочинку</h1>
 {% for tour in list_tour %}
    {% if id == tour.id %}
    <div>
        <h2>{{tour.title}}</h2>
        <h3>дата: {{tour.date}}</h3>
        <h3>Країна: {{tour.country}}</h3>
        <h3>Ціна: {{tour.price}}</h3>
        <h3>Опис: {{tour.description}}</h3>
    </div>
    {% endif %}
 {% endfor %} 
{% endblock %}