{% extends "base.html"%}
{% block title %} home page {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('home.static', filename = '/style.css') }}" >
{% endblock %}
{% block content %}
 

 <h1 id="main">Home Page</h1>
 <form method="post">
    <input type="text" name="name" placeholder="name" id="inform" required>
    <input type="text" name="email" placeholder="email" id="inform" required>
    <textarea name="review" placeholder="review" id="inform" required></textarea>
    <button>Send</button>
</form> 
 {% endblock %}