/* body{ */
    /* background-image: url('background.png'); */
    /* image-rendering:crisp-edges; */
    /* background-repeat:no-repeat/ */
/* } */
/* #background-img{
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */
body{
    background: linear-gradient(to top,lightblue,70%,white);
}
button{
    background-color: transparent;
}
button:hover{
    border:5px solid gold;
}
#inform:hover{
    
    border:5px solid rgb(89, 0, 255);
}
input:hover{
    
    border:5px solid rgb(89, 0, 255);
}
input{
    background-color: transparent;
    
}
*{
    font-family: sans-serif;
}
form{
    background: linear-gradient(to top,#4285F4,30%,#DBE2EF);
}