/* body{ */
    /* background-image: url('background.png'); */
    /* image-rendering:crisp-edges; */
    /* background-repeat:no-repeat/ */
/* } */
/* #background-img{
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */
body{
    background: linear-gradient(to top,lightblue,70%,white);
}
button{
    background-color: transparent;
}
button:hover{
    border:5px solid gold;
}
#inform:hover{
    
    border:5px solid rgb(89, 0, 255);
}
input:hover{
    
    border:5px solid rgb(89, 0, 255);
}
input{
    background-color: transparent;
    
}
*{
    font-family: sans-serif;
}
form{
    background: linear-gradient(to top,#4285F4,30%,#DBE2EF);
}
#main{
    margin-top: 100px;
}
#links{
    /* right: 50; */
    text-align: right;
    justify-content: center;
    align-items: center;
    height: 60px;
    /* width: max-content; */
    font-size: 40;
    /* text-align: center; */
    /* display: block; */
    position:fixed;
    background: linear-gradient(to right,lightblue,75%,white);
    /* top: 0px;  */
    /* margin: 10px; */
    /* padding: 10px; */
    border-bottom: 1px solid black;
    /* vertical-align: bottom; */
    /* margin: -8; */
    right: 0;
    left: 0;
    top: 0;
} 
.link{
    /* vertical-align: middle; */
    margin: 30px;
    /* margin-bottom: 0px; */
    /* display: block; */
    /* display: table-row-group; */
    position: relative;
    height: 71px;
    width: min-content;
    margin-top: 60px;
    /* text-align: center; */
}
#username{
    height: min-content;
    
}
#icon{
    height: 32;
    width: 32;
}