form{
    border: 5px solid #000000;
    border-radius: 20px;
    width: 600;
    height: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 9999; */
    margin: auto;
}
#inform{
    border: 5px solid #000000;
    width: 460;
    height: 80;
    justify-content: center;
    align-items: center;
    margin: 20;
    border-radius: 20px;
    text-align: center;
    font-size: 50;
}
button{
    border: 5px solid #000000;
    width: 350;
    height: 80;
    justify-content: center;
    align-items: center;
    margin: 40;
    border-radius: 20px;
    text-align: center;
    font-size: 50;
    background-color: white;    
}
#main{
    text-align: center;
    /* width: fit-content; */
    /* display: block; */
    font-size: 50;
    margin-top: 50;
}
#links{
    right: 50;
    text-align: right;
    justify-content: center;
    align-items: center;
    height: 180;
    width: 350;
    font-size: 30;
    display: block;
    position:fixed;
    top: 10px;
    /* margin: 10px; */
    /* padding: 10px; */
}
/* #link{

    justify-content: center;
    align-items: center;
} */
#home{
    /* margin-left: 10px; */
    margin-right: 50;
    color: blue;
}
#tour{
    /* margin-left: 10px; */
    margin-right: 20;
}
#logout{
    margin-right: 30;
}
#username{
    position: fixed;
    top: 10px;
    height: min-content;
    margin: 0;
}