{% extends 'base.html' %}
{% block title %} login page {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('user.static', filename = '/login.css') }}" >
{% endblock %}
{% block content %} 
    <h1 id = 'main'>Сторінка авторизації</h1> 
    <form method="post">
        <input type="text" id= "set_username" name="username" placeholder="username" required>
        <input type="password" id="password" name="password" placeholder="password" required>
        <button>Login</button>
    </form>
    <h1 style="color: red;" id="main">{{ add }}</h1>






{% endblock %}
